.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/

lectures/cloud_data_processing/slides/data/fit-cloud-course-key.json
lectures/mm_big_data/slides/2025/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2022_1.csv
lectures/mm_big_data/slides/2025/data/fifa21_raw_big.csv
lectures/cv/slides/2025/data/*
lectures/cv/slides/2025/going_modular
lectures/kse/STAT150-r4ds/25-26/lectures/nyc-taxi
lectures/kse/STAT150-r4ds/25-26/lectures/data/*
lectures/kse/STAT150-r4ds/25-26/lectures/geojson/*
geojson/*

lectures/kse/MATH840/25autumn/slides/data/*
/renv/*