project:
  type: website

website:
  title: "Ігор Мірошниченко"
  site-url: https://aranaur.rbind.io
  description: "Освіта та наука про дані"
  favicon: logo.png
  navbar:
    right:
      - href: index.qmd
        text: Додому
      - href: about.qmd
        text: Про мене

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  freeze: auto

