project:
  type: website

website:
  title: "Ігор Мірошниченко"
  site-url: https://aranaur.rbind.io
  description: "Освіта та наука про дані"
  favicon: logo.png
  google-analytics: "G-MM4BESNKHB"
  navbar:
    right:
      - href: index.qmd
        text: Додому
      - href: lecture.qmd
        text: Лекторій
      - href: projects.qmd
        text: Проекти
      - icon: table
        href: datasets.qmd


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  freeze: auto

