project:
  type: website
  resources: 
    - "cv.pdf"

language: _language-ua.yml

website:
  title: "Ігор Мірошниченко"
  site-url: https://aranaur.rbind.io
  repo-url: https://github.com/Aranaur/aranaur.rbind.io
  repo-actions: [edit, issue]
  description: "Освіта та наука про дані"
  favicon: logo.png
  google-analytics: "G-MM4BESNKHB"
  navbar:

    right:
      - text: "{{< iconify ic baseline-telegram size=1.3em title='Telegram' >}}"
        href: https://t.me/datamirosh
        rel: me
      - text: "{{< iconify bi youtube size=1.3em title='YouTube' >}}"
        href: https://www.youtube.com/@datamirosh
        rel: me
      - text: "{{< iconify bi github size=1.1em title='GitHub' >}}"
        href: https://github.com/Aranaur
        rel: me
      - text: "{{< iconify bi linkedin size=1.1em title='LinkedIn' >}}"
        href: https://www.linkedin.com/in/ihormiroshnychenko
        rel: me
      - text: "{{< iconify academicons scopus size=1.4em title='Scopus' >}}"
        href: https://www.scopus.com/authid/detail.uri?authorId=57222545856
        rel: me
      - text: "{{< iconify academicons google-scholar size=1.3em title='Google Scholar' >}}"
        href: https://scholar.google.com/citations?user=MSdFIwsAAAAJ
        rel: me

    left:
      - href: index.qmd
        icon: house
        text: Головна
      - href: lectures.qmd
        text: Лекторій
        icon: easel
      - href: projects.qmd
        text: Проєкти
        icon: folder
      - href: blog/index.qmd
        text: "{{< iconify fluent-mdl2 blog title='Blog' >}} Блог"
      - icon: table
        href: datasets.qmd
      - text: "CV"
        href: "cv/index.qmd"
        icon: file-earmark-person


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  freeze: auto

