project:
  type: website
  resources: 
    - "cv.pdf"

website:
  title: "Ігор Мірошниченко"
  site-url: https://aranaur.rbind.io
  repo-url: https://github.com/Aranaur/aranaur.rbind.io
  repo-actions: [edit, issue]
  description: "Освіта та наука про дані"
  favicon: logo.png
  google-analytics: "G-MM4BESNKHB"
  navbar:
    right:
      - href: index.qmd
        icon: house
        text: Головна
      - href: lectures.qmd
        text: Лекторій
        icon: easel
      - href: projects.qmd
        text: Проекти
        icon: folder
      - icon: table
        href: datasets.qmd


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  freeze: auto

